<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TymeXTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6D26B9A02C6FF47900267428</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D26B9B92C6FF47C00267428</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D26B9C32C6FF47C00267428</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
